.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery-item {
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    max-width: 300px; /* Set a maximum width for responsiveness */
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow:  0 0 30px #c77dff;
    background: linear-gradient(to bottom right, #9d4edd ,  #c77dff 40%) ;

}